In [1]:
import pandas as pd
import sklearn

C:\Users\vitor\AppData\Local\Temp\ipykernel_12516\3041792526.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# CRIANDO UM DATAFRAME DO ARQUIVO 2
df_csv2 = pd.read_csv("../data/2- participacao-despejo-residuo-plastico.csv")

In [3]:
# CRIANDO UM DATAFRAME DO ARQUIVO 4
df_csv4 = pd.read_csv("../data/4- desperdicio-plastico-per-capita.csv")

In [4]:
# CRIANDO UM DATAFRAME DO ARQUIVO 5
df_csv5 = pd.read_csv("../data/5- poluicao-agua-cidades.csv")

In [5]:
# pegando as informacoes que temos dentro do df
df_csv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 4 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Entidade                                                   170 non-null    object
 1   Código                                                     159 non-null    object
 2   Ano                                                        170 non-null    int64
 3   Participação na emissão global de plásticos para o oceano  170 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 5.4+ KB

In [6]:
df_csv4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 4 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Entidade                                               165 non-null    object
 1    Código                                                160 non-null    object
 2    Ano                                                   165 non-null    int64
 3    Lixo plástico mal gerenciado por pessoa (kg por ano)  165 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 5.3+ KB

In [7]:
df_csv5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3963 entries, 0 to 3962
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Cidade             3963 non-null   object
 1    Região            3538 non-null   object
 2    Entidade          3963 non-null   object
 3    Qualidade do Ar   3963 non-null   float64
 4    Poluição da Água  3963 non-null   float64
dtypes: float64(2), object(3)
memory usage: 154.9+ KB

In [8]:
# dropando os itens nulos do df 

df_csv2 = df_csv2.dropna()
df_csv4 = df_csv4.dropna()
df_csv5 = df_csv5.dropna()

In [9]:
#vendo as informações do df
df_csv2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 159 entries, 1 to 169
Data columns (total 4 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Entidade                                                   159 non-null    object
 1   Código                                                     159 non-null    object
 2   Ano                                                        159 non-null    int64
 3   Participação na emissão global de plásticos para o oceano  159 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.2+ KB

In [10]:
df_csv4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 160 entries, 1 to 164
Data columns (total 4 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Entidade                                               160 non-null    object
 1    Código                                                160 non-null    object
 2    Ano                                                   160 non-null    int64
 3    Lixo plástico mal gerenciado por pessoa (kg por ano)  160 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.2+ KB

In [11]:
df_csv5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3538 entries, 0 to 3962
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Cidade             3538 non-null   object
 1    Região            3538 non-null   object
 2    Entidade          3538 non-null   object
 3    Qualidade do Ar   3538 non-null   float64
 4    Poluição da Água  3538 non-null   float64
dtypes: float64(2), object(3)
memory usage: 165.8+ KB

In [12]:
df_csv5_gp_paises = df_csv5.rename(columns={" Entidade":"Entidade"}).groupby('Entidade').mean(numeric_only=True)

In [13]:
df_csv2.set_index('Entidade')

,Código,Ano,Participação na emissão global de plásticos para o oceano
Entidade,,,
Albania,ALB,2019,0.159782
Algeria,DZA,2019,0.589510
Angola,AGO,2019,0.087804
Antigua and Barbuda,ATG,2019,0.000204
Argentina,ARG,2019,0.422376
...,...,...,...
Venezuela,VEN,2019,0.611359
Vietnam,VNM,2019,2.881287
Western Sahara,ESH,2019,0.003880
Yemen,YEM,2019,0.025729
Zimbabwe,ZWE,2019,0.000000

In [14]:
#criando um df unico com o 2 e o 5
df_unificado = df_csv2.set_index('Entidade').join(df_csv5_gp_paises)

In [15]:
#juntando a uniao com o 4
df_unificado = df_unificado.join(df_csv4.set_index('Entidade'))

In [16]:
# tirando os nulos
df_unificado = df_unificado.dropna()

In [17]:
# informando as informações
df_unificado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 115 entries, Albania to Zimbabwe
Data columns (total 8 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Código                                                     115 non-null    object
 1   Ano                                                        115 non-null    int64
 2   Participação na emissão global de plásticos para o oceano  115 non-null    float64
 3    Qualidade do Ar                                           115 non-null    float64
 4    Poluição da Água                                          115 non-null    float64
 5    Código                                                    115 non-null    object
 6    Ano                                                       115 non-null    int64
 7    Lixo plástico mal gerenciado por pessoa (kg por ano)      115 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 8.1+ KB

In [18]:
df_unificado.sample()

,Código,Ano,Participação na emissão global de plásticos para o oceano,Qualidade do Ar,Poluição da Água,Código,Ano,Lixo plástico mal gerenciado por pessoa (kg por ano)
Entidade,,,,,,,,
South Korea,KOR,2019,0.039512,22.964217,50.010263,KOR,2019,0.237306

In [19]:
df_unificado.columns

Index(['Código', 'Ano',
       'Participação na emissão global de plásticos para o oceano',
       ' Qualidade do Ar', ' Poluição da Água', ' Código', ' Ano',
       ' Lixo plástico mal gerenciado por pessoa (kg por ano)'],
      dtype='object')

In [20]:
df_unificado = df_unificado.drop(['Código', ' Código'], axis=1)

In [21]:
df_unificado.columns

Index(['Ano', 'Participação na emissão global de plásticos para o oceano',
       ' Qualidade do Ar', ' Poluição da Água', ' Ano',
       ' Lixo plástico mal gerenciado por pessoa (kg por ano)'],
      dtype='object')

In [22]:
df_unificado.sample()

,Ano,Participação na emissão global de plásticos para o oceano,Qualidade do Ar,Poluição da Água,Ano,Lixo plástico mal gerenciado por pessoa (kg por ano)
Entidade,,,,,,
Ireland,2019,0.011741,82.973485,42.013889,2019,0.547931

# TREINANDO O MODELO

In [23]:
X = df_unificado.drop(" Poluição da Água", axis=1)
y = df_unificado[' Poluição da Água']

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42
)

In [25]:
from sklearn.tree import DecisionTreeRegressor

aquaman = DecisionTreeRegressor(max_depth=5, min_samples_split=5, min_samples_leaf=5, random_state=42)
aquaman.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=5, min_samples_leaf=5, min_samples_split=5,
                      random_state=42)

In [26]:
y_pred = aquaman.predict(X_test)

In [27]:
# por algum motivo a sklearn nao estava funcionando
# calculando a acuracia

margem = 5 

acuracia = sum(abs(y_pred - y_test) <= margem) / len(y_test)

escala_de_acuracia = (1 - acuracia) * 100  

print("Acurácia de: ", escala_de_acuracia)

Acurácia de:  78.94736842105263